.listWrapper {
  background-color: aliceblue;
}

.listWrapper.bordered {
  border: 1px solid brown;
}
.listWrapper.warning {
  border: 1px solid darkorange;
}
.listWrapper.success {
  border: 1px solid greenyellow;
}
.listWrapper.contrast {
  border: 1px solid lime;
}

.listTitle {
  color: blue;
  font-size: 28px;
  line-height: 1.1;
}

.list {
  color: green;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
}

@media screen and (max-width: 991px) {
  .listTitle {
    color: red;
    font-size: 20px;
  }

  .list {
    color: blue;
    font-size: 14px;
    line-height: 1.5;
    position: relative;
  }
}

.list::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: black;
  position: absolute;
  right: 0;
  top: 0;
}
